* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  padding: 0.5rem;
  overflow: hidden;
}
.leftside {
  display: inline-block;
  width: 21rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  flex-direction: column;
  gap: 0.5rem;
}

.leftside .box1 {
  background-color: #121212;
  width: 20rem;
  height: 7rem;
  margin: 0.3rem 0.3rem 0 0.3rem;
  padding: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftside .box2 {
  background-color: #121212;
  width: 20rem;
  height: 80.5vh;
  margin-left: 0.3rem;
  border-radius: 0.7rem;
}
.leftside .box1 i {
  font-size: 1rem;
}

.leftside .box1 .home {
  opacity: 1;
}
.box1 span {
  display: inline;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
}
.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  opacity: 0.7;
}
.item:hover {
  opacity: 1;
  cursor: pointer;
}
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  opacity: 0.5;
  color: #ffffff;
}
.bar i:hover {
  color: #ffffff;
  scale: 1.2;
}
.item1 {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.item1 img {
  width: 1.6rem;
  height: 1.5rem;
}
.item1 span {
  color: #ffffff;
  font-size: 1.3rem;
}
.container {
  background-color: #1f2426;
  padding: 1rem;
  border-radius: 1rem;
  width: 19rem;
  margin-left: 0.5rem;
}

#head {
  font-weight: 600;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
  display: block;
  margin-bottom: 3px;
}
.box2 .container .button {
  border-radius: 0.5rem;
  display: inline-block;
  align-items: center;
  background-color: #ffffff;
  margin-top: 0.7rem;
  padding: 0.5rem;
}
.box2 .bar .item1:hover {
  cursor: pointer;
}

#span {
  color: azure;
}
.rightside {
  margin-top: 0.3rem;
  margin-left: 21rem;
  display: inline-block;
  display: flex;
  width: calc(100% - 21rem);
  background-color: #121212;
  border-radius: 0.7rem;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.rightside .box3::-webkit-scrollbar {
  width: 0;
  display: none;
}
.rightside .box3 .arrow {
  background-color: #080707;
  border-radius: 50%;
  padding: 3px;
}
.rightside .box3 #less-than {
  margin-right: 4px;
}

.rightside .box3 .side {
  display: flex;

  gap: 0.5rem;
}
#explore,
#install {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  position: sticky;
  background-color: #121212;
  height: 60px;
  z-index: 10;
  top: 0;
}

.rightside .box3 .side #explore {
  background-color: #ffffff;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  border-radius: 10px;
  font-style: italic;
  padding: 3px 8px;
}
.rightside .box3 .side #install {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.rightside .box3 .side #install i {
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 1.2rem;
}
.rightside .box3 .side > i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.rightside .box3 #h2 {
  color: #ffffff;
  margin-top: 2rem;
}
.rightside .box3 .card {
  height: 17rem;
  width: 12rem;
  background-color: #1f2426;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.rightside .box3 .card:hover {
  scale: 1.03;
  cursor: pointer;

}
.rightside .box3 .card img {
  position: relative;
  width: 10rem;
  border-radius: 12px;
}
.rightside .box3 .card .card-head {
  font-family: "poppins";
  font-weight: 700;
  color: #ffffff;
  display: block;
}
.rightside .box3 .card .card-des {
  color: azure;
  font-size: 15px;
}
.rightside .box3 .card-start {
  margin-left: 2rem;
  margin-top: 2rem;
}
.rightside .box3 .card-row {
  display: flex;
}
.rightside .box3 {
  height: calc(100vh - 48px);
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-width: none;
}
.rightside .box3 .footer {
  border-top: 1px solid #ffffff;
  height: 3rem;
  margin: 5rem auto 5rem auto;
  width: 80%;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: white;
  text-align: center;
  font-size: 18px;
  height: auto;

  padding-bottom: 0.5rem;
}
.bottom-nav img {
  height: 1rem;
}
.bottom-nav .imgs {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  padding: 0.5rem;
}
.bottom-nav audio {
  display: block;
  width: 50%;
  filter: invert(1);
  height: 0.9rem;
}
#player:hover {
  scale: 1.1;
  cursor: pointer;

}
.bottom-nav #player {
  width: 2rem;
  height: 2rem;
}
.bottom-nav .current {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 17.25rem;
}
.bottom-nav .current img {
  height: 2.5rem;
  border-radius: 0.3rem;
}
.bottom-nav .current .current-des {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.7rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 1rem;
}
.bottom-nav .current .current-des .song {
  font-size: 1rem;
  font-weight: 500;
  font-family: "poppins";
}
.button:hover {
  scale: 1.1;
  transition: all;
  cursor: pointer;

}
.bottom-nav .current .current-icons {
  margin-left: 2rem;
}
.bottom-nav .current .current-icons i:hover {
  scale: 1.1;
  cursor: pointer;
}
.bottom-nav .current .current-icons i {
  margin-right: 0.5rem;
}
.bottom-nav .last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-right: 1rem;
  width: 13.25rem;
}
.bottom-nav .last input {
  width: 5rem;
  height: 3px;
}
.bottom-nav .last i {
  opacity: 0.5;
}
.bottom-nav .last i:hover {
  opacity: 1;
  scale: 1.2;
  cursor: pointer;

}
.bottom-nav .last .range {
  display: flex;
  align-items: center;
}
.bottom-nav .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  flex: 1;
}
.bottom-nav .middle input {
  height: 2px;
  width: 20rem;
}
.bottom-nav .middle .playback-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 1rem;
}
@media (max-width: 1024px) {
  .leftside {
    width: 16rem;
  }

  .leftside .box1,
  .leftside .box2 {
    width: 15rem;
  }

  .box1 span {
    font-size: 0.95rem;
  }

  .item {
    gap: 0.6rem;
  }

  .item i {
    font-size: 0.9rem;
  }

  .item1 span {
    font-size: 1.1rem;
  }

  .container {
    width: 14rem;
    padding: 0.7rem;
  }

  #head {
    font-size: 0.9rem;
  }

  #span {
    font-size: 0.75rem;
  }

  .button {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  .rightside {
    margin-left: 16rem;
    width: calc(100% - 8rem);
  

  }
.rightside .box3 .side {
  transform: translateX(-80px);
}

}

/* .playback-bar::-webkit-slider-runnable-track {
  color: aquamarine;
  background-color: rgb(255, 255, 255);
  height: 0.2rem;
}
.playback-bar::-webkit-slider-thumb {
  background-color: green;
  margin-top: -6px;
  color: aqua;
} */
